NODE_ENV=development
APP_PORT=7006
APP_NAME="Liqo Trip"
API_BASE_URL=http://localhost:7006
PANEL_BASE_URL=http://localhost:3006

DATABASE_NAME=tourism
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_TYPE=mysql

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=info@liqotrip.com
MAIL_SALES_EMAIL=sales@liqotrip.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

REDIS_HOST=localhost
REDIS_PORT=6379

AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=1h
AUTH_JWT_TOKEN_LIFETIME_EXPIRES_IN=30d

# * * * * * *
# | | | | | |
# | | | | | day of week
# | | | | months
# | | | day of month
# | | hours
# | minutes
# seconds (optional)
CRON_JOB_REJECT_UNPAID_INVOICE = "0 0 * * * *" # every hour

# live or sandbox
RAGAEX_MODE=live
RAGAEX_MERCHANT_ID=