{{#> layout }}
  <h1
    style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333333;font-size:18px;font-weight:400;line-height:1.4;margin:0;padding:0"
    align='right'
  >{{title}}</h1>
  <p align='right'>
    نام: {{name}}
  </p>
  <p align='right'>
    شماره تماس: {{phone}}
  </p>
  <p align='right'>
    {{message}}
  </p>
{{/layout}}